APP_CODE=hcs-adminportal
APP_NAME=Howick Cloud Services Administration Portal
ENV=dev
HOST_NAME=localhost
PORT=3000
SSL_Enabled_domain=

#back-end server configuration
SERVER_URL=http://localhost:3001/api/1.0.0/


LOG_TO_CONSOLE=true